
a {
    all: unset;  
}

body {
    background-color: #0d0d0d;
}

img{
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-filter: drop-shadow(0px 0px 9px #9900ff);
    filter: drop-shadow(0px 0px 9px #9900ff);
}

.click{
    margin-top: 60px;
    color:white;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2em;
}

.click:hover{
    cursor: pointer;

    color:#0072ff;
}


.briteimg{
    min-width: 15%;
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
}

.text {
    font-weight: bold;
    font-family: Helvetica;
    margin: 0 5px;
}

#youtube,
#twitter,
#tiktok {
    color:#fff;
    border-radius: 29px;    font-size: 5em;
    padding: 11px 19px;
    margin: 0 40px;
    text-shadow: 0 0 30px #9900ff, 0 0 70px #0072ff;
}

#youtube:hover,
#twitter:hover,
#tiktok:hover {

    color:#a200ff;
    cursor: pointer;
}


@media (max-width:919px) {

    .click{
        font-size: 1em;
    }

    .briteimg{
        margin-top: 5%;
        padding-bottom: 5%;
        width: 33%;
    }
    
    #youtube,
    #twitter,
    #discord,
    #tiktok {
        font-size: 2.5em;
    
    }
    }

@media (min-width:920px) {

.briteimg{
    width: 15%;
}

#youtube,
#twitter,
#discord,
#tiktok {
    font-size: 3.5em;

}
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}